@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    border:none;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*color:#ff7043;*/
}
.sc-half{
    width:100vw;
    height: 50vh;
    position:absolute;
    display:grid;   
    place-items: center;
}
.sc-reag{
    top:0;
    background-color: #eee;
    color:#333;
}
.sc-bac{
    bottom:0;
    background-color: #333;
    color:#eee;
}
.wrapper{
    display:grid;
    place-items:center;
    text-align: center;
    padding:5px;
}
.btn{
    border-radius: 3px;
    font-size:1.2rem;
    margin:1vh;
    width:30vh;
    max-width: 30vh;
    min-width: 30vh;
}
.btn:hover{
    background-color: #fff;
}
#btnPos{
    border:3px solid #0e9535;
}
#btnNeg{
    border:3px solid #c20d00;
}
h2{
    font-size:1.4em;
}
h3{
    font-size:2.5em;
}
#obs{
    font-size: 1.2em;
}